.signin {
	float: left;
	width: 45%;
	margin: 5px;
	padding: 10px;
	height: 150px;
	background-color: aliceblue;

	h2 {
		text-align: center;
	}
}

.recent {
	clear: both;
	padding-top: 26px;
}

.submit-button {
	font-size: 16px;
}