<div>
	<h2>New User? Sign Up!</h2>

	<form method="POST" action="/users/create">
		<div>
			<label for="name">Name: </label>
			<input type="text" name="name">
		</div>
		<div>
			<label for="email">Email: </label>
			<input type="text" name="email">
		</div>
		<div>
			<label for="email">Password: </label>
			<input type="password" name="password">
		</div>
		<input type="submit">
	</form>
</div>

<div>
	<h2>Current User? Sign In!</h2>

	<form method="POST" action="/login">
		<div>
			<label for="email">Email: </label>
			<input type="text" name="email">
		</div>
		<div>
			<label for="email">Password: </label>
			<input type="password" name="password">
		</div>
		<input type="submit">
	</form>
</div>