<div class="signin">
	<h2>New User? Sign Up!</h2>

	<form method="POST" action="/users/create">
		<div>
			<label for="name">Name: </label>
			<input type="text" name="name">
		</div>
		<div>
			<label for="email">Email: </label>
			<input type="text" name="email">
		</div>
		<div>
			<label for="email">Password: </label>
			<input type="password" name="password">
		</div>
		<input type="submit" class="submit-button">
	</form>
</div>

<div class="signin">
	<h2>Current User? Sign In!</h2>

	<form method="POST" action="/login">
		<div>
			<label for="email">Email: </label>
			<input type="text" name="email">
		</div>
		<div>
			<label for="email">Password: </label>
			<input type="password" name="password">
		</div>
		<input type="submit" class="submit-button">
	</form>
</div>

<h2 class="recent">Recent moments by our users:</h2>
<div>
	<% @posts.each do |post| %>
		<div class="post">
			<h3><a href="/users/<%= post.user_id %>/posts/<%= post.id %>"><%= post.title %></a></h3>

			<p><%= post.content %></p>

		</div>
	<% end %>

</div>