<!DOCTYPE html>
<html>
<head>
	<title>Small Moments</title>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower|Karla" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
	<div class="container">
		<header>
			<h1><a href="/">Small Moments</a></h1>
			<h2>a place to be yourself</h2>
			
			<% if session[:user_id] == nil %>
				<div class="navigation">
					<nav>
						<ul>
							<li><a href="/about">About Small Moments</a></li>
						</ul>
					</nav>
				</div>

			<% else %>
				<div class="navigation">
					<nav>
						<ul>
							<li><a href="/users/<%= session[:user_id] %>">My Profile</a></li>
							<li><a href="/posts">My Moments</a></li>
							<li>
								<form method="post" action="/logout" class="inline-form">
								  <input type="hidden" value="Log Out">
								  <button type="submit" value="Log Out" class="link-button">
								    Log Out
								  </button>
								</form>
							</li>
						</ul>
					</nav>
				</div>
			<% end %>
		</header>

		<div class="content-container">
			<div class="notice"><%= flash[:notice] if flash[:notice] %></div>
			<div class="alert"><%= flash[:alert] if flash[:alert] %></div>
			<%= yield %>
		</div>

	</div>

</body>
</html>