<!DOCTYPE html>
<html>
<head>
	<title>Small Moments</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/css/styles.css">
	<script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
	<div class="container">
	<h1><a href="/">Small Moments</a></h1>
	<h2>A place to be yourself</h2>
		<nav>
			<ul>
				<li><a href="/users/<%= @user.id %>">My Profile</a></li>
				<li><a href="/posts">My Moments</a></li>
				<li><a href="#">placeholder nav item</a></li>
				<li><a href="#">placeholder nav item</a></li>
				<!-- when signed in, go to user's profile page -->
			</ul>
		</nav>
		<!-- if the user is logged in, show the above nav bar -->
		<!-- else show nothing except about and signup -->
		<!-- if time allows, create a search user that lets you look people up by email -->

	<div class="content-container">
		<div class="notice"><%= flash[:notice] if flash[:notice] %></div>
		<div class="alert"><%= flash[:alert] if flash[:alert] %></div>
		<%= yield %>
	</div>

	</div>

</body>
</html>